* {
  margin: 0;
  padding: 0;
}


body {
  color: #CBC9CF;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

header,
.activity-form {
  background-color: #46414D;
}

.title {
  font-size: 1.5em;
  letter-spacing: .04em;
  padding: 1.5%;
  text-align: center;
}

main {
  background-color: #2B2733;
  display: flex;
  height: 100%;
}

.left-container {
  border-right: 1.5px solid #46414D;
  width: 65%;
}

.activity-form {
  height: 80vh;
}

.activity-content {
  margin: auto;
  margin-bottom: 5%;
  width: 93%;
}

.activity-form {
  border-radius: 4px;
}

.activity-title {
  font-size: 1.5em;
  padding: 20px 0 20px;
}

.form-content {
  margin: auto;
  padding: 6%;
  width: 75%;
  overflow: auto;
}

.select-title {
  padding-bottom: 5%;
  font-weight: bold;
}

.activity-btns-container {
  display: flex;
  justify-content: space-between;
}

.activity-btn {
  border: 1px solid white;
  width: 25%;
  text-align: center;
  padding: 2% 0;
}

.study-btn-activated {
  border: 1px solid #B3FD78;
  color: #B3FD78;
}

.meditate-btn-activated {
  border: 1px solid #C278FD;
  color: #C278FD;
}

.exercise-btn-activated {
  border: 1px solid #FD8078;
  color: #FD8078;
}

img {
  width: 28px;
}

.input-title {
  margin-top: 10%;
}

input:focus {
  outline: none;
}

input[type=text] {
  color: #CBC9CF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-top: 3%;
  padding-bottom: .2%;
}

input[type=number] {
  color: #CBC9CF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  margin-top: 8%;
  width: 100%;
  padding-bottom: .2%;
}

.activity-input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 100%;
}

.min-sec-container {
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
}

.min,
.sec {
  width: 40%;
}

.time-input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
}

.start-btn {
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 1%;
  margin-top: 10%;
  float: right;
  width: 25%;
}

.error-divs {
  /* border: 1px solid white; */
  margin-top: 1%;
  height: 1em;
  color: #C278FD;

}

.time-error-msg-container {
  display: flex;
  justify-content: space-between;
}

.min-error,
.sec-error {
  width: 40%;
}

/* right container styles */

.right-container {
  width: 35%
}

.card-container {
  width: 100%;
}

.display-card-container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.past-activity-title {
  font-size: 1.5em;
  padding: 20px 30px 35px;
}

/* timer page */

.timer-container {
  width: 50%;
  margin: auto;
  margin-top: 1%;
  text-align: center;
  height: 60vh;
}

.timer-content {
  margin: auto;
  padding: 4%;
  width: 75%;
}

.timer-title {
  font-size: 1.5em;

}

.time {
  font-size: 6em;
}

.timer-btn {
  background: none;
  border-radius: 50%;
  border: 3px solid;
  color: #CBC9CF;
  font-size: 1.5em;
  height: 250px;
  margin-top: 5%;
  width: 250px;
}

.log-activity-btn {
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 2%;
  margin-top: 20%;
  width: 70%;
}





/* .activity-btn {
  color: white;
  padding: 5%;
  background: none;
  width: 25%;
  font-size: 1em;
} */
