* {
  margin: 0;
  padding: 0;
}


body {
  color: #CBC9CF;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

header,
.activity-form {
  background-color: #46414D;
}

.title {
  font-size: 1.5em;
  letter-spacing: .04em;
  padding: 1.5%;
  text-align: center;
}

main {
  background-color: #2B2733;
  display: flex;
  height: 100%;
}

.left-container {
  border-right: 1.5px solid #46414D;
  width: 65%;
}

.activity-form {
  height: 80%;
}

.activity-content {
  margin: auto;
  margin-bottom: 5%;
  width: 93%;
}

.activity-form {
  border-radius: 4px;
}

.activity-title {
  font-size: 1.5em;
  padding: 20px 0 20px;
}

.form-content {
  margin: auto;
  padding: 6%;
  width: 75%;
  overflow: auto;
}

.select-title {
  padding-bottom: 5%;
  font-weight: bold;
}

.activity-btns-container {
  display: flex;
  justify-content: space-between;
}

.activity-btn {
  border: 1px solid white;
  width: 25%;
  text-align: center;
  padding: 2% 0;
}

/* .activity-btn {
  color: white;
  padding: 5%;
  background: none;
  width: 25%;
  font-size: 1em;
} */

img {
  width: 28px;
}

.input-title {
  margin-top: 10%;
}

.activity-input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 96%;
  padding: 2%;
}

.min-sec {
  display: flex;
  justify-content: space-between;
}

.min,
.sec {
  width: 40%;
  margin-top: 5%;
}

.time-input {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 90%;
  padding: 5%;
}

.start-btn {
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 1%;
  margin-top: 10%;
  float: right;
  width: 25%;
}

.right-container {
  width: 35%
}

.card-container {
  width: 100%;
}

.display-card-container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.past-activity-title {
  font-size: 1.5em;
  padding: 20px 30px 35px;
}
